[Desktop Entry]
Comment=Whatsapp Webinterface
Exec=firefox -new-window https://web.whatsapp.com
Icon=/usr/share/pixmaps/whatsapp.png
Name=Whatsapp
StartupNotify=true
Terminal=false
Type=Application
Categories=Web;
